@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial';
}

body{
    background-color: #18AA8D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}

body h1{
    font-weight: normal;
    text-align: center;
    margin: 15px 0px;
    font-size: 40px;
    color: #FFF;
}

.form-box{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-box label{
    margin-bottom: 20px;
    color: #FFF;
}

.form-box .textfield{
    width: 250px;
}

.subti{
    margin: 25px 0px 15px 0px;
}

#txtShortcut{
    width: 40px;
    text-align: center;
    outline: none;
}